name: Build ZMK Firmware

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: West Init
        run: west init -l config

      - name: West Update
        run: west update

      - name: West Zephyr export
        run: west zephyr-export

      - name: West Build (Glove80 Left)
        run: west build -s zmk/app -b glove80_lh -- -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Glove80 DTS File (Left)
        if: ${{ always() }}
        run: |
          if [ -f "build/zephyr/glove80_lh.dts.pre.tmp" ]; then cat -n build/zephyr/glove80_lh.dts.pre.tmp; fi
          if [ -f "build/zephyr/zephyr.dts" ]; then cat -n build/zephyr/zephyr.dts; fi

      - name: Glove80 Left Kconfig file
        run: cat build/zephyr/.config | grep -v "^#" | grep -v "^$"

      - name: Rename zmk.uf2 (Left)
        run: cp build/zephyr/zmk.uf2 glove80_lh.uf2

      - name: West Build (Glove80 Right)
        run: west build --pristine -s zmk/app -b glove80_rh -- -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"

      - name: Glove80 DTS File (Right)
        if: ${{ always() }}
        run: |
          if [ -f "build/zephyr/glove80_rh.dts.pre.tmp" ]; then cat -n build/zephyr/glove80_rh.dts.pre.tmp; fi
          if [ -f "build/zephyr/zephyr.dts" ]; then cat -n build/zephyr/zephyr.dts; fi

      - name: Glove80 Right Kconfig file
        run: cat build/zephyr/.config | grep -v "^#" | grep -v "^$"

      - name: Rename zmk.uf2 (Right)
        run: cp build/zephyr/zmk.uf2 glove80_rh.uf2

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: |
            glove80_lh.uf2
            glove80_rh.uf2
